[submodule "reddit"]
	path = reddit
	url = https://github.com/libertysoft3/saidit.git
[submodule "i18n"]
	path = i18n
	url = https://github.com/libertysoft3/reddit-i18n.git
[submodule "websockets"]
	path = websockets
	url = https://github.com/reddit-archive/reddit-service-websockets
[submodule "activity"]
	path = activity
	url = https://github.com/reddit-archive/reddit-service-activity
[submodule "snudown"]
	path = snudown
	url = https://github.com/robert-h-at-cp/snudown.git
